:root {
  --font-family: Montsserat;
  --font-family-head: Merriweather;
  --accent-color: #b15bd3;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --slate: #8892b0;
  --lightest-slate: #ccd6f6;
  --white: #fff;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}

// Global styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

body {
  text-align: center;
  font-family: var(--font-family), sans-serif;
  list-style-type: none;
  text-decoration: none;

  .logo img {
    width: 40px;
  }

  .hidden {
    // display: none;
  }

  .header {
    background-color: var(--dark-navy);
    color: var(--white);
    padding: 1rem 2rem;
    position: sticky;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 75px;

    .ham {
      width: 50px;
      height: 50px;

      .ham__box--inner {
        position: relative;
        width: inherit;
        height: 3px;
        background-color: var(--accent-color);
        transition: all 0.4s ease;
      }

      .ham__box--inner::after,
      .ham__box--inner::before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: var(--accent-color);
        top: -10px;
      }

      .ham__box--inner::after {
        top: 10px;
      }

      .ham__box--inner.active {
        transform: rotate(135deg);
        background-color: red;
      }

      .ham__box--inner.active::before,
      .ham__box--inner.active::after {
        top: 0;
        background-color: red;
        transform: rotate(90deg);
      }
    }
  }

  nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 12, 27, 0.85);
    width: 70%;
    box-shadow: var(--shadow);
    flex-direction: column;
    padding-top: 15rem;
    z-index: 99;
    transform: translateX(400px);
    transition: transform 0.5s ease-in-out;

    .resume {
      border-radius: 3.5px;
      width: fit-content;
      padding: 1rem 2rem;
      color: var(--white);
      margin: 1rem auto;
      border: var(--white) solid 0.3rem;
      align-self: baseline;
    }

    .resume:hover {
      background-color: rgb(19, 156, 83);
    }

    a {
      color: rgb(15, 201, 201);
      font-size: 3.5rem;
      font-weight: bold;
      text-decoration: none;
      padding: 1.2rem 0;
    }
  }

  nav.toggle-entrance {
    transform: translateX(0);
    // z-index: 99;
  }

  .home {
    background-image: url(./img/bg-omega.jpg);
    height: 100vh;
    background-color: var(--accent-color);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -650px;
    position: relative;

    .cover__blur {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.87);
    }
  }
}

// @media screen and (min-width: 481px) and (max-width: 768px) {
//   body {
//     background-color: black;
//   }
// }

// @media screen and (min-width: 769px) and (max-width: 1023px) {
//   body {
//     background-color: blue;
//   }
// }

// @media screen and (min-width: 1024px) {
//   body {
//     // background-color: yellow;
//   }
// }
