:root {
  --font-family: Montsserat;
  --font-family-head: Merriweather;
  --accent-color: #b15bd3;
  --dark-navy: #020c1b;
  --dark-navy-transparent: rgba(2, 12, 27, 0.7);
  --navy: #0a192f;
  --light-navy: #112240;
  --slate: #8892b0;
  --reddish: rgb(253, 0, 0);
  --padding-all: 4rem 1.8rem 0;
  --lightest-slate: #ccd6f6;
  --white: #fff;
  --header-pads: 10rem;
  --shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --hamburger-width: 30px;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

// Global styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-family: var(--font-family), sans-serif;
  list-style-type: none;
  text-decoration: none;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'header' 'main' 'footer';

  a {
    text-decoration: none;
  }

  .hidden {
    display: none;
  }

  img {
    width: 40px;
  }

  .btn {
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    cursor: pointer;
    outline: none;

    a {
      color: var(--accent-color);
      font-size: 1.6rem;
    }
  }

  .header {
    grid-area: header;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-navy);
    padding: 0 2rem 0 1.2rem;
    position: sticky;
    z-index: 1000;

    .ham__box {
      width: 35px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      .ham__box--inner {
        transition: all 0.4s ease;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2px;
        width: 100%;
        background-color: var(--accent-color);
      }

      .ham__box--inner::after,
      .ham__box--inner::before {
        content: '';
        height: inherit;
        width: inherit;
        background-color: var(--accent-color);
        position: absolute;
        top: -8px;
      }

      .ham__box--inner::after {
        top: 8px;
      }

      .ham__box--inner.active {
        transform: rotate(135deg);
        background-color: var(--reddish);
      }

      .ham__box--inner.active::before,
      .ham__box--inner.active::after {
        top: 0;
        background-color: var(--reddish);
        transform: rotate(90deg);
      }
    }
  }

  .nav__list--mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -5000px; /* -500px away fom the screen */
    width: 75%;
    background-color: var(--dark-navy-transparent);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    padding-top: 10rem;
    z-index: 100;

    a {
      color: var(--white);
      font-family: var(--font-family-head);
      font-size: 2rem;
      margin: 1rem 0;
    }

    a:last-child {
      color: var(--accent-color);
      padding: 0.5rem 1.5rem;
    }
  }

  .insideout {
    left: 0;
  }

  main {
    grid-area: main;
    background-color: var(--light-navy);

    .showcase {
      height: 100vh;
      width: 100vw;

      .content {
        padding: var(--padding-all);
        font-family: var(--font-family);
        color: var(--slate);
        width: 100vw;
        height: 100%;
        text-align: left;
        font-size: 2.5rem;

        p,
        h1,
        h2 {
          margin: 2rem 0;
        }

        & > p {
          color: var(--accent-color);
        }

        & > h1 {
          color: var(--lightest-slate);
          font-size: 4rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        // .btn.mobile {
        //   margin-top: 4rem;
        //   padding: 1rem 1.5rem;
        //   font-weight: bold;
        //   background-color: transparent;
        //   border: 1px solid var(--accent-color);
        //   border-radius: 3px;

        //   a {
        //     color: var(--accent-color);
        //     font-size: 1.6rem;
        //   }
        // }
      }
    }

    // .blur {
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   background-color: rgba(2, 12, 27, 0.95);
    //   height: inherit;
    //   position: absolute;
    // }

    .about {
      display: flex;
      flex-direction: column;
      color: var(--lightest-slate);
      padding: var(--padding-all);
      gap: 3rem;

      .about__info {
        text-align: left;
        line-height: 2rem;
        font-size: 1.7rem;
        letter-spacing: 0.5px;
        font-family: var(--font-family);

        p {
          margin: 1.2rem 0;
        }
      }

      h2 {
        font-family: var(--font-family-head);
        margin-bottom: 4rem;
        text-align: center;
      }

      .tools {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10rem;
        line-height: 2rem;
        font-size: 1.7rem;
        letter-spacing: 0.5px;
        font-family: var(--font-family);

        .tools__info {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          // font-size: 1.5rem;
          font-family: var(--font-family);
          color: var(--lightest-slate);
          row-gap: 2rem;

          i {
            font-size: 2rem;
          }

          h3 {
            margin-bottom: 1.8rem;
            text-decoration: underline;
            text-underline-offset: 0.6rem;
            text-decoration-color: var(--accent-color);
          }

          h4 {
            margin-bottom: 1rem;
          }

          .frontend,
          .soft__skills,
          .backend {
            background-color: var(--navy);
            border-radius: 3px;
            padding: 1rem;
            color: var(--white);
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            font-family: var(--font-family);
            width: 100%;

            img {
              width: 50px;
            }
          }
        }
      }
    }

    .contact {
      h2 {
        font-size: 2rem;
        padding: var(--padding-all);
        color: var(--lightest-slate);
        font-family: var(--font-family-head);
        margin-top: 2.5rem;
      }

      form {
        margin-top: 5rem;
        padding: 2.3rem;

        .recaptcha {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
        }

        input {
          margin: 1rem 0;
          height: 30px;
          border: none;
          border-bottom: 2px solid var(--accent-color);
          background-color: transparent;
          text-align: center;
          width: 100%;
        }

        input:hover,
        input:focus,
        input:active {
          outline: none;
        }

        input::placeholder {
          color: var(--accent-color);
          font-size: 1.5rem;
          padding-left: 0.7rem;
        }

        .message input {
          margin-bottom: 5rem;
          width: 100%;
        }

        button {
          margin-top: 1rem;
          padding: 1rem 1.5rem;
          color: var(--accent-color);
          font-weight: bold;
          background-color: transparent;
          border: 1px solid var(--accent-color);
          border-radius: 3px;
        }
      }
    }
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--dark-navy);
    color: var(--accent-color);
    font-size: 1.6rem;
    padding: 2rem 0;

    a {
      margin: 0 0.5rem;
      color: var(--lightest-slate);
      font-size: 2.5rem;
    }
  }
}

// @media screen and (max-width: 576px) {
//   body {
//     .header {
//       background-color: yellow;
//       .logo {
//         width: 10px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 577px) and (max-width: 767px) {
//   body {
//     .header {
//       background-color: green;
//       .logo {
//         width: 10px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 991px) {
//   body {
//     .header {
//       background-color: pink;
//       .logo {
//         width: 10px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 992px) and (max-width: 1199px) {
//   body {
//     .header {
//       background-color: cyan;
//       .logo {
//         width: 10px;
//       }
//     }
//   }
// }

// @media screen and (min-width: 1200px) and (max-width: 1399px) {
//   body {
//     .header {
//       background-color: red;
//       .logo {
//         width: 10px;
//       }
//     }
//   }
// }
